{% extends 'app/layout.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% set app_section = 'workspace' %}

{% block app_content %}
    <div class="toastit-stack toastit-page-stack">
        {% include 'components/ui/_section_heading.html.twig' with {
            eyebrow: 'Profil',
            title_tag: 'h1',
            title: user.displayName,
            lead: 'Definissez votre prenom et votre nom pour ameliorer les listes, avatars et invitations.'
        } only %}

        {% for message in app.flashes('success') %}
            {% include 'components/ui/_alert.html.twig' with { tone: 'success', message: message } only %}
        {% endfor %}

        {% embed 'components/ui/_panel.html.twig' %}
            {% block panel_content %}
                <form method="post" class="toastit-stack">
                    <div class="field">
                        <label class="label" for="first-name">Prenom</label>
                        <div class="control">
                            <input id="first-name" class="input toastit-input" name="first_name" type="text" value="{{ user.firstName }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="last-name">Nom</label>
                        <div class="control">
                            <input id="last-name" class="input toastit-input" name="last_name" type="text" value="{{ user.lastName }}">
                        </div>
                    </div>
                    <div class="buttons mb-0">
                        {% include 'components/ui/_button.html.twig' with {
                            variant: 'primary',
                            type: 'submit',
                            label: 'Enregistrer'
                        } only %}
                    </div>
                </form>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
