<form class="toastit-inline-form" method="post" action="{{ action }}" @submit="submitting = true">
    <label class="is-sr-only" for="email">Adresse email</label>
    <div class="field has-addons toastit-inline-form__controls">
        <div class="control is-expanded">
            <input
                id="email"
                class="input toastit-input"
                name="email"
                type="email"
                inputmode="email"
                autocomplete="email"
                placeholder="votre@email.com"
                value="{{ email }}"
                x-model="email"
                required
            >
        </div>
        <div class="control">
            {% include 'components/ui/_button.html.twig' with {
                variant: 'arrow',
                type: 'submit',
                aria_label: 'Se connecter',
                icon_name: 'arrow-right',
                icon_only: true,
                extra_attrs: ':disabled="submitting || !email.trim()"'
            } only %}
        </div>
    </div>
</form>
