{% set icon_style = style|default('solid') %}
{% set icon_name = name ?? 'circle' %}
{% set icon_classes = ['fa-' ~ icon_style, 'fa-' ~ icon_name] %}
{% if class is defined and class %}
    {% set icon_classes = icon_classes|merge([class]) %}
{% endif %}

{% if container_class is defined and container_class %}
    <span class="{{ container_class }}"{% if aria_hidden|default(true) %} aria-hidden="true"{% endif %}>
        <i class="{{ icon_classes|join(' ') }}"></i>
    </span>
{% else %}
    <i class="{{ icon_classes|join(' ') }}"{% if aria_hidden|default(true) %} aria-hidden="true"{% endif %}></i>
{% endif %}
